<!--
Noah Fichter
SoftDev1 pd8>
HW03 -- ...and Now Enjoy its Contents
2016-09-23
-->

<!DOCTYPE html>

<html>
  <head>
    <title>Occupations</title>
  </head>
  <body>
    <h1>A list of occupations in the US workforce and their respective frequencies</h1>
    <table border="1">
      {%- for row in occList %}
      <tr>
	{%- for item in row %}
	<td>{{item}}</td>
	{%- endfor %}
      </tr>
      {%- endfor %}
    </table>
    <h2>Random occupation chosen (reload to try again!):</h2>
    {{occupation}}
  </body>
</html>
